<div class="container-fluid example-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-4 example-col">
            <p>Country</p>
            <kendo-dropdownlist
            [data]="dataCountry"
            [value]="selectedCountry"
            [defaultItem]="defaultCountry"
            textField="countryName"
            valueField="countryId"
            (valueChange)="handleCountryChange($event)"
            >
            </kendo-dropdownlist>
        </div>
        <div class="col-xs-12 col-sm-4 example-col">
            <p>State</p>
            <kendo-dropdownlist
            [data]="dataResultState"
            [value]="selectedState"
            [defaultItem]="defaultState"
            [disabled]="isDisabledStates"
            textField="stateName"
            valueField="stateId"
            (valueChange)="handleStateChange($event)"
            >
            </kendo-dropdownlist>
        </div>
        <div class="col-xs-12 col-sm-4 example-col">
            <p>City</p>
            <kendo-dropdownlist
            [data]="dataResultCity"
            [value]="selectedCity"
            [defaultItem]="defaultCity"
            [disabled]="isDisabledCity"
            textField="cityName"
            valueField="cityId"
            (valueChange)="handleCityChange($event)"
            >
            </kendo-dropdownlist>
        </div>
    </div>
</div>

<div>
    <button (click)="showCountries()">Click to view all Countries</button>
</div>
<div>
    <button (click)="showStates()">Click to view all States</button>
</div>
<div>
    <button (click)="showCities()">Click to view all Cities</button>
</div>