<div class="container-fluid example-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-4 example-col">
            <p>Country</p>
            <kendo-dropdownlist
            [data]="countryList"
            [value]="selectedCountry"
            [defaultItem]="defaultCountry"
            textField="name"
            valueField="isoCode"
            (valueChange)="handleCountryChange($event)"
            >
            </kendo-dropdownlist>
        </div>
        <div class="col-xs-12 col-sm-4 example-col">
            <p>State</p>
            <kendo-dropdownlist
            [data]="dataResultState"
            [value]="selectedState"
            [defaultItem]="defaultState"
            [disabled]="isDisabledStates"
            textField="name"
            valueField="isoCode"
            (valueChange)="handleStateChange($event)"
            >
            </kendo-dropdownlist>
        </div>
        <div class="col-xs-12 col-sm-4 example-col">
            <p>City</p>
            <kendo-dropdownlist
            [data]="dataResultCity"
            [value]="selectedCity"
            [defaultItem]="defaultCity"
            [disabled]="isDisabledCity"
            textField="name"
            valueField="name"
            (valueChange)="handleCityChange($event)"
            >
            </kendo-dropdownlist>
        </div>
    </div>
</div>

